@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white transition-colors duration-200 antialiased;
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif; }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-track {
  background: #2d3748;
}
::-webkit-scrollbar-thumb {
  background: #a0aec0;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
    background: #4a5568;
}
::-webkit-scrollbar-thumb:hover {
  background: #718096;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #718096;
}